---
layout: default
title: Blog
---
<h1>Latest Posts</h1>

{% comment %}
<!--
site posts: 
{{ site.posts }}
{{ post.url }}

paginator posts: 
{{ paginator.posts }}
-->

<h2>paginator Posts</h2>
<ul>
  {% for post in paginator.posts %}
    <li>
      <h4>{{post.url}}</h4>
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
<!--			{{ post.excerpt }} -->
<!--      {{ post.content }} -->
    </li>
  {% endfor %}
</ul>
{% endcomment %}

<h2>site Posts</h2>
<ul>
  {% for post in site.posts %}
    <li>
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
<!--			{{ post.excerpt }} -->
<!--      {{ post.content }} -->
    </li>
  {% endfor %}
</ul>
