---
layout: default
title: Home
---
<!DOCTYPE html>
{% comment %}
<section>
<!--
      <h1>Hello World!</h1>
  		<h1>{{"THIS IS DOWNCASE" | downcase }}</h1>
-->

  <h1>{{"library" | capitalize }}</h1>

	<ol>
		<li> foo </li>
		<li>
      <a href="{% link /assets/image/hif44.exploded.gif %}">HIF44 exploded</a>
		</li>
		<li>
      <a href="{% link /assets/leadsheet/ScotchAndSoda.pdf %}">Scotch And Soda</a>
		</li>
		<li> <a href="{% link meat.html %}">Animal</a> </li>
		<li> <a href="{% link plant.html %}">Vegetable</a> </li>
		<li> <a href="{% link rock.html %}">Mineral</a> </li>
		<li> <a href="{% link library/veggie_topical.html %}">Veggie Topical</a> </li>
		<li> bar </li>
	</ol>

</section>
{% endcomment %}

<!--
<section>
  <h3><a href="assets/leadsheet/ScotchAndSoda.pdf"> Scotch And Soda </a></h3>
  <h3><a href="{% link /assets/leadsheet/ScotchAndSoda.pdf %}">Scotch And Soda</a></h3>
	<img src="{% link assets/image/hif44.exploded.gif %}" alt="exploded view of HIF44 carburettor">
</section>
-->

<section>
  {% include navigation.html %}
</section>
<br>

<ol>
  {% comment %}
  <li>Animal</li>
  {% include topics_list.html pages=site.animal %}
  <li>Vegetable</li>
  {% include topics_list.html pages=site.vegetable %}
  <li>Mineral</li>
  {% include topics_list.html pages=site.mineral %}
  {% endcomment %}

  <li>Animal</li>
  {% include binder_topics_list.html collection=site.animal name="animal" %}

  <li>Vegetable</li>
  {% include binder_topics_list.html collection=site.vegetable name="vegetable" %}

  <li>Mineral</li>
  {% include binder_topics_list.html collection=site.mineral name="mineral" %}

  <li>Mini</li>
  {% include binder_topics_list.html collection=site.mini name="mini" %}

  <li>Music</li>
  {% include binder_topics_list.html collection=site.music name="music" %}

  {% comment %}
  <li>Mineral themes</li>
	this example of binder_themes_list is added for completeness <br><br>
  {% include binder_themes_list.html collection=site.mineral name="mineral" %}
  {% endcomment %}

  {% comment %}
  <li>Mineral argon themes</li>
  {% include binder_tome_chapter_themes_list.html collection=site.mineral tome="argon" %}
  {% endcomment %}
  
</ol>
