{%- comment -%}
---
layout: default
title: blog links organized by tome and blog
---
{%- endcomment -%}

{%- comment -%}
use this include as follows 

include binder_tome_blog_list sitecoll=site.**collection** tome=**tome** blog=**blog** gab=gab order='reverse'

Note: the **blog** argument simply needs to be unique to all posts
within the particular blog. By convention the path to the blog is used for that purpose.
{%- endcomment -%}

{%- assign gab = include.gab | default: false -%}
{%- assign order = include.order | default: 'reverse' -%} 

{%- if gab -%}
  Searching for entries of the "{{ include.blog }}" blog for the tome "{{ include.tome }}" <br>
{%- endif gab -%}

<!-- split must be added to make fposts an array -->
{%- assign fposts = "" | split: ", " -%}

{%- for file in include.sitecoll -%}
  {%- if gab -%}
  {%- comment -%}
    <!-- file title: "{{ file.title }}" level: "{{file.binder.level}}" <br> -->
    <!--    file date: "{{ file.date }}" title: "{{ file.title }}" level: "{{file.binder.level}}" <br> -->
  {%- endcomment -%}
  {%- endif gab -%}

  {%- if file.binder.tome == include.tome -%}

    {%- if gab -%}
      <!-- file title: "{{ file.title }}" level: {{file.binder.level}} belongs to tome "{{ include.tome }}" <br> -->
    {%- endif gab -%}

    {%- if file.binder.level == "blog" -%}

      {%- if gab -%}
        <!-- limit list items to those associated with blogs -->
        file "{{ file.title }}" <br> blog: {{ file.blog }} <br>
      {%- endif gab -%}

      {%- if file.binder.blog == include.blog -%}

        <!-- collect the post files for sorting -->
        {%- assign fposts = fposts | push: file -%}

        {%- if gab -%}
          fposts size: {{ fposts.size }} <br>
          date: {{ post[0] }}<br> url: "{{post[1]}}"<br> title: "{{post[2]}}"<br> tip: {{post[3]}}" <br>
        {%- endif -%}
      
        {%- comment -%}
            <!-- <li><a href="{{ file.url }}">{{ file.title }}</a></li> -->
            <li><a href="{{ file.url }}" title="{{ file.tip }}" >{{ file.date | date: "%Y%m%d  " | append: file.title }}</a></li>
        {%- endcomment -%}

      {%- endif -%} <!-- file.binder.blog == include.blog -->
    {%- endif -%} <!-- blog -->
  {%- endif -%} <!-- tome -->
{%- endfor -%}

{%- if order == 'reverse' -%}
  <!-- present the newest post first -->
  {%- assign sorted_fposts = fposts | sort: 'date' | reverse -%}
{%- else -%}
  {%- assign sorted_fposts = fposts | sort: 'date' -%}
{%- endif -%}

{%- for post in sorted_fposts -%}
  {%- comment -%}
  <!-- title: "{{ post.title }}" date: "{{ post.date }}" <br> -->

	<li>{{ post.date | date: "%d %b %Y - " }}<a href="{{ post.url }}" title="{{ post.tip }}" >
			{{ post.title }}</a></li>
  {%- endcomment -%}
	<!-- use same format as in ../blog/index.html -->
  <li>
	  <h3>
			  <span class="date">{{ post.date | date: "%d %b %Y" }}</span>
				-
				<span class="author">
					<a href="{{ post.url }}" title="{{ post.tip }}">{{ post.title }}</a>
        </span>
	  </h3>
  </li>
{%- endfor -%}

