---
# donmc 8nov2025 This file was copied from
# /Users/donmc/.gem/ruby/3.4.1/gems/minima-2.5.1/assets/main.scss
# ... and then edited to add custom scss classes.
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import "fairhillbillies";
