---
layout: default
title: Blog All
---
<!-- use html instead of md for styling this page -->

<h1>All Blog Posts</h1>

<section>
  {% include navigation.html %}
</section>
<br>

<h3>
	<span class="author">
		Go to <a href="{% link blog/index.html %}">Posts by page</a>
	</span>
</h3>

<ol reversed>
  {% for post in site.posts %}
    <li>
      <h3>
			  <span class="date">{{ post.date | date: "%d %b %Y" }}</span>
				-
				<span class="author">
					<a href="{{ post.url }}" title="{{ post.tip }}">{{ post.title }}</a>
        </span>
				{% comment %}
<!--			{{ post.excerpt }} -->
<!--      {{ post.content }} -->
				{% endcomment %}
			</h3>
    </li>
  {% endfor %}
</ol>
